body {
    background-color: black;
    color: pink;
    font-family: Georgia ;
    font-size: large;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.scroll-trigger {
	opacity: 0;
	transition: all 4s;
}

.show {
	opacity: 1;
}
