/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */

li[class~="dog"] {
  color: var(--magenta);
}

li[class~="cat"] {
  color: var(--teal);
}

li[class~="parrot"] {
  color: var(--green);
}

li[class~="donkey"] {
  color: var(--royalblue);
}

li[class~="hedgehog"] {
  color: var(--magenta);
}

li[class~="cat dog parrot"] {
  color: var(--royalblue);
}
/* Use descendant, child, and sibling selectors for the second part */

.list-food > ol > li {
  color: var(--green);
}

.list-food > ol > li.second {
  color: var(--magenta);
}

.list-food > ol > li.second + li {
  color: var(--royalblue);
}

.list-food > ol > li.second + li + li {
  color: var(--magenta);
}

.list-cleaning > ol > li {
  color: var(--green);
}