/* Specificity Exercise */

nav .list-item > a {
  color: var(--purple);
}
/* Specificity: 0, 1, 2 (0 IDs, 1 Class, 2 Elements: nav, a) */

#main::first-letter {
  color: var(--purple);
}
/* Specificity: 1, 0, 1 (1 ID: #main, 0 Classes, 1 Pseudo-element: ::first-letter) */

input[type] {
  color: var(--purple);
}
/* Specificity: 0, 1, 1 (0 IDs, 1 Attribute: [type], 1 Element: input) */

section .main::first-line {
  color: var(--purple);
}
/* Specificity: 0, 1, 2 (0 IDs, 1 Class: .main, 2 Elements/Pseudo-elements: section, ::first-line) */

nav ul.menu li#first a:not([class='visited']) {
  color: var(--purple);
}
/* Specificity: 1, 2, 4 (1 ID: #first, 2 Classes/Attributes: .menu, [class='visited'], 4 Elements: nav, ul, li, a) */

div ol li ul li ol li ul li a {
  color: var(--purple);
}
/* Specificity: 0, 0, 10 (0 IDs, 0 Classes, 10 Elements) */
